@theme: 'simplex';

// Framework and base theme
@import "/app/vendor/bower/bootstrap/less/bootstrap.less";
@import "/app/vendor/thomaspark/bootswatch/@{theme}/variables.less";
@import "/app/vendor/thomaspark/bootswatch/@{theme}/bootswatch.less";

// Theme customizations
@icon-font-path: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/';
@navbar-border-radius: 0px;
@navbar-margin-bottom: 0px;
@font-size-base: 16px;
@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-family-sans-serif: 'Roboto';
//@import "open-color";
//@body-bg: #ddd;
@brand-primary: #4E5CA2;

@secondary-color-1: #4E5CA2;
@secondary-color-2: #8691BE;

HTML {
  background-color: #ddd;
  //.gradient(left, @secondary-color-1, @secondary-color-2);
}

BODY {
  margin: @navbar-height 0 0 0;
  //.gradient(left, @secondary-color-1, @secondary-color-2);
  //color: #e5e5e5;
  height: 100%;
}

PRE, CODE {
  //background-color: darken(#e5e5e5, 15%);
  //color: #111;
}

A {
  color: #4F5B93;
  &:hover {
    color: lighten(@secondary-color-1, 10%);
  }
}

BLOCKQUOTE {
  background: @alert-warning-bg;
}

.alert-wrapper {
  margin-top: 60px;
  &:empty {
    display: none;
  }
}

.navbar {
  margin-bottom: 0px;
  a {
    color: #fff;
  }
}

.glyphicon-lg {
  font-size: 2em;
  color: #ccc;
  margin: 1em 0 0;
}

.breadcrumb, .panel, .panel-body {
  //background-color: darken(@body-bg, 5%);
}

.navbar.navbar-fixed-top ul.nav > li > a:hover {
  background-color: @secondary-color-2;
}

header {
  .jumbotron {
    //color: #fff;
    padding: 100px 0;
    H3, h4 {
      color: @secondary-color-2;
    }
    //.gradient(bottom, #444, #111);
    .btn-default {
      background: lighten(@secondary-color-1, 10%);
      color: #fff;
    }
    .icons A {
      color: @secondary-color-1;
      font-size: 3em;
      margin: 0.1em;
      &:hover {
        color: @secondary-color-1;
      }
    }
    .sidebar {
      .icons A {
        font-size: 2em;
        color: @gray-light;
      }
    }
  }

}

.technology {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.5em;
  //font-weight: @headings-font-weight;
  //font-size: @jumbotron-font-size;
  //float: left;
  color: @gray-light;
}

/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
  background-color: @start;
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @stop);
  background-image: -o-linear-gradient(@origin, @start, @stop);
  background-image: -ms-linear-gradient(@origin, @start, @stop);
  background-image: linear-gradient(@origin, @start, @stop);
}

.toc {

  H1 {
    font-size: 1.5em;
  }

  H2 {
    font-size: 1.25em;
  }

  H3 {
    font-size: 1.1em;
  }

}

.summaryTable {
  .table;
  .table-condensed;
  td:first-child {
    width: 50%;
    overflow: scroll;
    word-break: break-all;
  }
  td {
    //width: 70%;
  }
}

.docs {
  .toc {
    background: lighten(@brand-primary, 50%);
  }
  .file-content {
    img:not(.emoji) {
      .img-responsive;
    }
  }
}